	#body {
		width: 360px;
		height: 610px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}
	.tp {
		width: 25px;
		height: 25px;
		position: absolute;
		top: 580px;
		right: 12px;
		z-index: 5;
		cursor: pointer;
		transform-origin: 50%,50%;
	}
	.content {
		width: 360px;
		height: calc(610px*10);
		position: relative;
		top: 0;
		left: 0;
		padding: 1px;
	}
	
	.body1 {
		width: 360px;
		height: 610px;
		position: relative;
		overflow: hidden;
	}
	
	.div1 {
		width: 270px;
		height: 270px;
		position: relative;
		text-align: center;
		margin: 70px auto;
		z-index: 1;
	}
	
	.img1 {
		height: 270px;
		position: absolute;
		left: -400px;
		top: -400px;
		z-index: 1;
	}
	
	.img2 {
		width: 72px;
		height: 235px;
		position: absolute;
		left: -400px;
		top: -400px;
		z-index: 4;
	}
	
	.img3 {
		width: 38px;
		height: 135px;
		position: absolute;
		left: -400px;
		top: -400px;
		z-index: 2;
	}
	
	.img4 {
		width: 270px;
		height: 270px;
		position: absolute;
		right: -400px;
		top: -400px;
		z-index: 1;
	}
	
	.img5 {
		width: 55px;
		height: 75px;
		position: absolute;
		left: -400px;
		top: -400px;
		z-index: 2;
	}
	
	.img6 {
		width: 75px;
		height: 143px;
		position: absolute;
		left: -400px;
		top: -400px;
		z-index: 3;
	}
	
	.img7 {
		width: 270px;
		height: 162px;
		position: absolute;
		bottom: -400px;
		left: -400px;
		z-index: 1;
	}
	
	.img8 {
		width: 200px;
		height: 110px;
		position: absolute;
		bottom: -400px;
		right: -400px;
		z-index: 2;
	}
	
	.img9 {
		width: 258px;
		height: 175px;
		position: absolute;
		bottom: -400px;
		right: -400px;
		z-index: 5;
	}
	
	.div2 {
		width: 200px;
		height: 75px;
		margin: 110px auto;
		position: relative;
		z-index: 2;
	}
	
	.img10 {
		width: 120px;
		height: 120px;
		position: absolute;
		left: -20px;
		top: -60px;
	}
	
	.img11 {
		width: 200px;
		height: 75px;
		margin: 0 auto;
		position: relative;
		top: 0;
		left: 0;
		z-index: 3;
		opacity: 0;
	}
	
	.img12D {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		box-shadow: 0 0 10px 10px rgb(144, 25, 75);
		position: absolute;
		right: 0;
		bottom: -2px;
		z-index: -1;
		opacity: 0;
	}
	
	.img12 {
		width: 300px;
		height: 300px;
		position: absolute;
		left: -207px;
		top: -160px;
	}
	
	.l1 {
		width: 80px;
		height: 60px;
		position: absolute;
		top: -300px;
		left: -300px;
		z-index: 0;
	}
	
	.l2 {
		width: 80px;
		height: 60px;
		position: absolute;
		right: -300px;
		bottom: -300px;
		z-index: 0;
	}
	
	.l3 {
		width: 80px;
		height: 60px;
		position: absolute;
		top: -300px;
		right: -300px;
		z-index: 0;
	}
	
	.tp1 {
		width: 30px;
		height: 12px;
		position: absolute;
		bottom: 10px;
		left: 165px;
		-webkit-animation: bounce 1.5s linear infinite;
		-o-animation: bounce 1.5s linear infinite;
		animation: bounce 1.5s linear infinite;
	}
	
	.body2 {
		width: 360px;
		height: 610px;
		position: relative;
		overflow: hidden;
		background-position: 0 -40px;
		background-size: 360px 100%;
		text-align: center;
	}
	
	.imgA1 {
		width: 190px;
		height: 25px;
		position: absolute;
		bottom: 120px;
		right: -190px;
		transform: translateX(50%);
	}
	
	.imgA2 {
		width: 300px;
		height: 25px;
		position: absolute;
		bottom: 70px;
		left: -300px;
		transform: translateX(-50%);
	}
	
	.tp2 {
		width: 30px;
		height: 12px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.body3 {
		width: 360px;
		height: 610px;
		position: relative;
		overflow: hidden;
	}
	
	.imgB1 {
		width: 150px;
		height: 140px;
		position: absolute;
		right: 10px;
		top: 50px;
	}
	
	.imgB2 {
		width: 155px;
		height: 125px;
		position: absolute;
		left: 10px;
		top: 146px;
	}
	
	.imgB3 {
		width: 190px;
		height: 136px;
		position: absolute;
		right: 5px;
		top: 230px;
	}
	
	.imgB4 {
		width: 135px;
		height: 105px;
		position: absolute;
		left: 10px;
		top: 305px;
	}
	
	.imgB5 {
		width: 145px;
		height: 120px;
		position: absolute;
		left: 175px;
		top: 405px;
	}
	
	.imgB6 {
		width: 50px;
		height: 60px;
		position: absolute;
		left: 72px;
		top: 37px;
	}
	
	.imgB7 {
		width: 40px;
		height: 45px;
		position: absolute;
		right: 20px;
		top: 190px;
	}
	
	.imgB8 {
		width: 35px;
		height: 35px;
		position: absolute;
		left: 55px;
		bottom: 100px;
	}
	
	.tp3 {
		width: 30px;
		height: 12px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.body3 img {
		animation: swing 10s linear 0s infinite;
	}
	
	.body3 img:last-child {
		animation: bounce 1.5s linear 0s infinite;
	}
	
	.tp3 {
		width: 30px;
		height: 12px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.body4 {
		width: 360px;
		height: 610px;
		position: relative;
		overflow: hidden;
	}
	
	.imgC1 {
		width: 60px;
		height: 60px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%) scale(0.1);
	}
	
	.imgC2 {
		width: 80px;
		height: 80px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%) scale(0.1);
	}
	
	.imgC3 {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%) scale(0.1);
	}
	
	.imgC4 {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%) scale(0.1);
	}
	
	.imgC5 {
		width: 60px;
		height: 60px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%) scale(0.1);
	}
	
	.imgC6 {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%) scale(0.1);
	}
	
	.imgC7 {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		transform: translate(-50%, -50%) scale(0.1);
	}
	
	.imgC8 {
		width: 60px;
		height: 60px;
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.1);
	}
	
	.imgC9 {
		width: 400px;
		height: 620px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 3;
		transform: translate(-50%, -50%) scale(0.01);
	}
	
	.imgC10 {
		width: 240px;
		height: 35px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 3;
		transform: translate(-50%, -50%) scale(0.1);
	}
	
	.imgC11 {
		width: 360px;
		height: 610px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0.01);
	}
	
	.imgC12 {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 3;
		transform: translate(-50%, -50%);
	}
	
	.tp4 {
		width: 30px;
		height: 12px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.body5 {
		width: 360px;
		height: 610px;
		position: relative;
		overflow: hidden;
		background-size: 100% 100%;
	}
	
	.imgD1 {
		width: 53px;
		height: 75px;
		position: absolute;
		z-index: 2;
		left: 35px;
		top: 120px;
		transform: rotate(15deg);
	}
	
	.imgD11 {
		width: 90px;
		height: 105px;
		position: absolute;
		left: 10px;
		top: 100px;
	}
	
	.imgD2 {
		width: 53px;
		height: 75px;
		position: absolute;
		z-index: 2;
		left: 305px;
		top: 115px;
		transform: rotate(15deg);
	}
	
	.imgD12 {
		width: 90px;
		height: 105px;
		position: absolute;
		left: 275px;
		top: 95px;
	}
	
	.imgD3 {
		width: 53px;
		height: 75px;
		position: absolute;
		z-index: 2;
		left: 115px;
		top: 220px;
		transform: rotate(15deg);
	}
	
	.imgD13 {
		width: 90px;
		height: 105px;
		position: absolute;
		left: 85px;
		top: 200px;
	}
	
	.imgD4 {
		width: 53px;
		height: 75px;
		position: absolute;
		z-index: 2;
		left: 215px;
		top: 250px;
		transform: rotate(15deg);
	}
	
	.imgD14 {
		width: 90px;
		height: 105px;
		position: absolute;
		left: 190px;
		top: 225px;
	}
	
	.imgD5 {
		width: 53px;
		height: 75px;
		position: absolute;
		z-index: 2;
		left: 28px;
		top: 353px;
		transform: rotate(15deg);
	}
	
	.imgD15 {
		width: 90px;
		height: 105px;
		position: absolute;
		left: 0px;
		top: 333px;
	}
	
	.imgD6 {
		width: 53px;
		height: 75px;
		position: absolute;
		z-index: 2;
		left: 180px;
		top: 395px;
		transform: rotate(15deg);
	}
	
	.imgD16 {
		width: 90px;
		height: 105px;
		position: absolute;
		left: 150px;
		top: 375px;
	}
	
	.imgD7 {
		width: 53px;
		height: 75px;
		position: absolute;
		z-index: 2;
		left: 295px;
		top: 350px;
		transform: rotate(15deg);
	}
	
	.imgD17 {
		width: 90px;
		height: 105px;
		position: absolute;
		left: 265px;
		top: 330px;
	}
	
	.imgD8 {
		width: 53px;
		height: 75px;
		position: absolute;
		z-index: 2;
		left: 90px;
		top: 525px;
		transform: rotate(15deg);
	}
	
	.imgD18 {
		width: 90px;
		height: 105px;
		position: absolute;
		left: 60px;
		top: 505px;
	}
	
	.imgD9 {
		width: 53px;
		height: 75px;
		position: absolute;
		z-index: 2;
		left: 260px;
		top: 498px;
		transform: rotate(15deg);
	}
	
	.imgD19 {
		width: 90px;
		height: 105px;
		position: absolute;
		left: 230px;
		top: 478px;
	}
	
	.imgD10 {
		width: 110px;
		height: 80px;
		position: absolute;
		left: 60px;
		top: 20px;
		z-index: 2;
	}
	
	.tp5 {
		width: 30px;
		height: 12px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.body6 {
		width: 360px;
		height: 610px;
		position: relative;
		overflow: hidden;
		background-size: 100% 100%;
	}
	
	.imgE1 {
		width: 30px;
		height: 50px;
		position: absolute;
		left: 600px;
		top: 50px;
		z-index: 1;
	}
	
	.imgE2 {
		width: 120px;
		height: 105px;
		position: absolute;
		left: 600px;
		top: 50px;
		z-index: 1;
	}
	
	.imgE3 {
		width: 120px;
		height: 105px;
		position: absolute;
		left: 600px;
		top: 45px;
		z-index: 2;
	}
	
	.imgE4 {
		width: 140px;
		height: 105px;
		position: absolute;
		left: -200px;
		top: 45px;
		z-index: 1;
	}
	
	.imgE5 {
		width: 30px;
		height: 50px;
		position: absolute;
		left: -200px;
		top: 30px;
		z-index: 1;
	}
	
	.imgE6 {
		width: 30px;
		height: 30px;
		position: absolute;
		left: 600px;
		top: 245px;
		z-index: 1;
		transform: scale(5);
	}
	
	.imgE7 {
		width: 30px;
		height: 40px;
		position: absolute;
		left: -200px;
		top: 260px;
		z-index: 1;
		transform: scale(5);
	}
	
	.imgE8 {
		width: 80px;
		height: 80px;
		position: absolute;
		left: -200px;
		top: 350px;
		z-index: 0;
	}
	
	.imgE9 {
		width: 200px;
		height: 25px;
		position: absolute;
		left: 50%;
		top: 90px;
		transform: translateX(-50%);
		z-index: 3;
	}
	
	.imgE10 {
		width: 230px;
		height: 75px;
		position: absolute;
		left: 50%;
		top: 170px;
		transform: translateX(-50%);
		z-index: 3;
	}
	
	.imgE11 {
		width: 80px;
		height: 90px;
		position: absolute;
		left: 90px;
		top: 260px;
		z-index: 1;
	}
	
	.imgE12 {
		width: 70px;
		height: 80px;
		position: absolute;
		left: 190px;
		top: 250px;
		z-index: 1;
	}
	
	.imgE13 {
		width: 100px;
		height: 90px;
		position: absolute;
		left: 70px;
		top: 365px;
		z-index: 1;
	}
	
	.imgE14 {
		width: 90px;
		height: 105px;
		position: absolute;
		left: 190px;
		top: 340px;
		z-index: 1;
	}
	
	.imgE15 {
		width: 70px;
		height: 80px;
		position: absolute;
		left: 100px;
		top: 465px;
		z-index: 1;
	}
	
	.imgE16 {
		width: 80px;
		height: 90px;
		position: absolute;
		left: 190px;
		top: 460px;
		z-index: 1;
	}
	
	.tp6 {
		width: 30px;
		height: 12px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.body7 {
		width: 360px;
		height: 610px;
		position: relative;
		overflow: hidden;
		background-size: 100% 100%;
	}
	
	.imgF1 {
		width: 220px;
		height: 30px;
		position: absolute;
		top: 40px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
	}
	
	.imgF2 {
		width: 100%;
		height: 35px;
		position: absolute;
		top: 90px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
	}
	
	.imgF3 {
		width: 230px;
		height: 35px;
		position: absolute;
		right: 10px;
		top: 200px;
		z-index: 3;
	}
	
	.imgF4 {
		width: 230px;
		height: 35px;
		position: absolute;
		left: 20px;
		top: 335px;
		z-index: 3;
	}
	
	.imgF5 {
		width: 180px;
		height: 35px;
		position: absolute;
		right: 50px;
		top: 455px;
		z-index: 3;
	}
	
	.imgF6 {
		width: 30px;
		height: 20px;
		position: absolute;
		left: 50px;
		top: 60px;
		z-index: 1;
	}
	
	.imgF7 {
		width: 100px;
		height: 100px;
		position: absolute;
		left: -15px;
		top: 255px;
		z-index: 1;
	}
	
	.imgF8 {
		width: 70px;
		height: 60px;
		position: absolute;
		left: -10px;
		top: 580px;
		z-index: 0;
	}
	
	.imgF9 {
		width: 25px;
		height: 40px;
		position: absolute;
		right: 20px;
		bottom: 10px;
		z-index: 2;
	}
	
	.imgF11 {
		width: 190px;
		height: 360px;
		position: absolute;
		left: 85px;
		top: 150px;
		z-index: 1;
		overflow: hidden;
	}
	
	.imgF11 img {
		width: 220px;
		height: 410px;
	}
	
	.body7 img:nth-child(6) {
		animation: swing 10s linear 0s infinite;
	}
	
	.body7 img:nth-child(7) {
		animation: swing 10s linear 0s infinite;
	}
	
	.body7 img:nth-child(8) {
		animation: swing 10s linear 0s infinite;
	}
	
	.body7 img:nth-child(9) {
		animation: swing 10s linear 0s infinite;
	}
	
	.body7 img:nth-child(10) {
		animation: swing 10s linear 0s infinite;
	}
	
	.tp7 {
		width: 30px;
		height: 12px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.body8 {
		width: 360px;
		height: 610px;
		position: relative;
		overflow: hidden;
		background-size: 100% 100%;
	}
	
	.imgG1 {
		width: 30px;
		position: absolute;
		top: 30px;
		left: -500px;
	}
	
	.imgG2 {
		width: 120px;
		position: absolute;
		top: 30px;
		left: 800px;
		z-index: 1;
	}
	
	.imgG3 {
		width: 140px;
		position: absolute;
		top: 600px;
		left: 800px;
		z-index: 3;
	}
	
	.imgG4 {
		width: 140px;
		position: absolute;
		top: 25px;
		right: 800px;
		z-index: 2;
	}
	
	.imgG5 {
		width: 35px;
		position: absolute;
		top: 105px;
		right: -500px;
		z-index: 3;
	}
	
	.imgG6 {
		width: 50px;
		height: 50px;
		position: absolute;
		top: -5px;
		right: -500px;
		z-index: 2;
	}
	
	.imgG7 {
		width: 140px;
		height: 25px;
		position: absolute;
		left: 800px;
		top: 75px;
		z-index: 4;
	}
	
	.imgG8 {
		width: 170px;
		height: 50px;
		position: absolute;
		left: 50%;
		top: 175px;
		transform: translateX(-50%);
	}
	
	.imgG9 {
		width: 130px;
		height: 85px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	
	.imgG10 {
		width: 80px;
		height: 80px;
		position: absolute;
		left: 35px;
		bottom: 95px;
	}
	
	.imgG11 {
		width: 90px;
		height: 100px;
		position: absolute;
		left: 50%;
		bottom: 80px;
		transform: translateX(-50%);
	}
	
	.imgG12 {
		width: 80px;
		height: 70px;
		position: absolute;
		right: 35px;
		bottom: 105px;
	}
	
	.tp8 {
		width: 30px;
		height: 12px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.body9 {
		width: 360px;
		height: 620px;
		position: relative;
		overflow: hidden;
		background-size: 100% 100%;
	}
	
	.imgH1 {
		width: 30px;
		position: absolute;
		top: 8px;
		left: 35px;
	}
	
	.imgH2 {
		width: 130px;
		position: absolute;
		top: 40px;
		left: 10px;
		z-index: 1;
	}
	
	.imgH3 {
		width: 125px;
		height: 100px;
		position: absolute;
		top: 40px;
		left: 90px;
		z-index: 3;
	}
	
	.imgH4 {
		width: 140px;
		height: 110px;
		position: absolute;
		top: 45px;
		right: 20px;
		z-index: 2;
	}
	
	.imgH5 {
		width: 45px;
		position: absolute;
		top: 180px;
		right: 20px;
		z-index: 2;
	}
	
	.imgH6 {
		width: 100px;
		position: absolute;
		top: 290px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
	
	.imgH7 {
		width: 300px;
		position: absolute;
		z-index: 4;
		top: 85px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.imgH8 {
		width: 230px;
		position: absolute;
		left: 50%;
		top: 190px;
		z-index: 3;
		transform: translateX(-50%);
	}
	
	.imgH9 {
		width: 70px;
		position: absolute;
		left: 50%;
		top: 310px;
		z-index: 4;
		transform: translate(-50%, -50%);
	}
	
	.imgH10 {
		width: 280px;
		position: absolute;
		top: 400px;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.imgH11 {
		width: 150px;
		position: absolute;
		left: 50%;
		bottom: 120px;
		transform: translateX(-50%);
	}
	
	.imgH12 {
		width: 100px;
		position: absolute;
		left: 50%;
		bottom: 90px;
		transform: translateX(-50%);
	}
	
	.imgH13 {
		width: 130px;
		position: absolute;
		left: 50%;
		bottom: 30px;
		transform: translateX(-50%);
	}
	
	.body9 img:nth-child(1) {
		animation: swing 10s linear 0s infinite;
	}
	
	.body9 img:nth-child(2) {
		animation: swing 10s linear 0s infinite;
	}
	
	.body9 img:nth-child(3) {
		animation: swing 10s linear 0s infinite;
	}
	
	.body9 img:nth-child(4) {
		animation: swing 10s linear 0s infinite;
	}
	
	.body9 img:nth-child(5) {
		animation: swing 10s linear 0s infinite;
	}
	
	.tp9 {
		width: 30px;
		height: 12px;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}