*{
	margin:0;
	padding:0;
	vertical-align: top;
	text-decoration: none;
}
body,html{
	/*width:100%;*/
	font-size: 16px;
}
.wrap{
	/*width:100%;*/
	background-color: white;
}
header{
	width:100%;
	height:300px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image:url(../img/2.2.png);
	position: relative;
	overflow: hidden;
	padding-top: 150px;
}
nav{
	/*min-width:630px;*/
	width:100%;
	height:50px;
	position: fixed;
	background-color:rgba(14,21,25,0.8);
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 10;
	
}
.nav{
	width: 80%;
	margin:0 auto;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
}
.hleft a{
	display: inline-block;
	width: 180px;
	height:50px;
	background-image: url(../img/1.1.png);
	background-size:100%  100%; 
	opacity: 0.8;
}
.hright{
	width:260px;
	line-height: 2rem;
	font-size: 0.7rem;
	display: flex;
	justify-content:space-between;
	color:white;
	padding-top:18px;
}
.hright a{
	color:white;
}
.hright a:hover{
	color:skyblue;
}

.top{
	width:60%;
	margin: 0 auto;
	text-align: center;
	
	/*color:white;*/
}
.top p:nth-child(1){
	color:white;
	font-size: 1.6rem;
	opacity: 0.8;
}
.ct{
	margin: 30px auto;
	text-align: center;
	width:50%;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-content: space-around;
	align-items:center;
}
.ct a{
	font-size: 0.9rem;
	padding:3px 1px;
	color:rgba(220,220,220,0.9);
	border: 1px solid rgba(220,220,220,0.9);
}
.ct a:hover{
	-webkit-animation:bounce 0.5s;
	}
.ct a:active{
	color:sandybrown;
}

.ct a:visited{
	/*color:#888888;*/
}
.top p:nth-of-type(2){
	line-height: 2rem;
	color:rgba(220,220,220,0.9);
	font-size: 0.9rem;
}
.center{
	width:100%;
	background-color: white;
	color:rgb(70,70,70);
}
.ct1{
	width:100%;
	height:30px;
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.nodiv{
	width:250px;
	height:20px;
	border: 1px solid rgb(217,217,217);
	margin: 18px auto 0;
	/*margin-left: 50%;*/
}
.nosize{
	font-size: 0.9rem;
	line-height: 1.8rem;
	padding:3px 8px;
	background-color: white;
	position: absolute;
	left: 50%;
	top: 3px;
	z-index: 1;
	-webkit-transform: translateX(-50%);
	

}
.ct2{
	margin: 60px auto 80px;
	width:60%;
	height:240px;
	display: flex;
	justify-content:space-around;
	overflow: hidden;

}
.ctu{
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
	text-align: center;
}
.ctu a div{
	width:80px;
	height:80px;
	/*background-color:red;*/
	background-size: 100% 100%;
	background-image: url(../img/3.2.png);
	transition:all 2s;
}
.ctu a div:hover{
		background-color:skyblue;
	}
.ctu p{
	color: rgb(120,120,120);
	margin-top: 12px;
	font-size: 0.9rem;
}
.ctu p+p{
	color: rgb(200,200,200);
	margin-top: 40px;
	font-size: 0.7rem;
	line-height: 1.3rem;
}
.cc{
	width:100%;
	height:90px;

}
.cc img{
	width: 100%;
	height:100%;
}
.cb{
	width:70%;
	margin: 40px auto;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;

}

.cbltu{
	width:59%;
	height:300px;
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	align-content:center;
}
.cblkuang,.cbrkuang{
	position: relative;
}
.cblkuang img,.cbrkuang img{
	width:100%;
	height:100%;
}
.cbltu .cblkuang:nth-child(1){
	width:30%;
	height:170px;
}
.cbltu .cblkuang:nth-child(2){
	width:68%;
	height:170px;
}
.cbltu .cblkuang:nth-child(3),.cbltu .cblkuang:nth-child(4){
	width:49%;
	height:130px;
	margin-top: 5px;
}
.cbrtu{
	width:40%;
	height:300px;
	display: flex;
	position: relative;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	align-content:center;
}

.cbrtu .cbrkuang:nth-child(1){
	width:100%;
	height:130px;
}
.cbrtu .cbrkuang:nth-child(2),.cbrtu .cbrkuang:nth-child(3){
	width:49%;
	height:170px;
	margin-top: 5px;
}
.cbltu p,.cbrtu p{
	width:100%;
	color:rgb(216,216,216);
	background-color: rgb(150,150,140);
	font-size: 0.7rem;
	line-height: 1.5rem;
	text-align: center;
	opacity: 0;
	transition:all 1s;
	position: absolute;
	bottom: 0;
	left: 0;
}
.cb div div:hover p{
	opacity: 0.8;
	-webkit-animation:bounceIn 0.5s ;
}
footer{
	width:100%;
	height:260px;
	margin-top: 20px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	background-image:url(../img/5.jpg);
}
.footer{
	width:70%;
	margin: 50px auto 0;
	display: flex;
	justify-content:space-between;
	color: rgb(227,227,227);
	align-content:space-around;
	/*border: 1px solid red;*/
}
.fdiv{
	height:80px;
	display: flex;
	flex-wrap:no-wrap;
	flex-direction:column;
	justify-content:flex-start;
}
/*.fdiv:nth-child(2){
	margin:0px 4% 0 8%;
}
.fdiv:nth-child(3){
	margin:0px 8% 0 4%;
}*/
.fdiv p{
	height:100px;
	font-size: 0.9rem;
}
.fdiv p+p{
	margin-top: 20px;
	font-size: 0.6rem;
}
.end{
	width:100%;
	text-align: center;
	/*margin-top: 0px;*/
	background-color: rgb(15,15,15);
	/*background-color: red;*/
	color:rgb(227,227,227);
}
.end p{
	font-size:0.7rem;
	line-height: 1.1rem;
	padding-bottom: 25px;
	padding-top: 5px;
}
