/*竖直的导购部分*/
#centerTop{
	width: 1250px;
	height: 460px;
	position: relative;
	top: 12px;
	margin:0 auto;
}
#guide {
	width: 250px;
	height: 460px;
	position: absolute;
	top: 1px;
	left: 0;
	z-index: 2;
	/*border: 1px solid red;*/
}

.guideTitle {
	position: absolute;
	left: 0;
	top: 0;
	width: 250px;
	height: 460px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: rgb(95, 95, 95);
	opacity: 0.6;
}

.guideTitleLi {
	padding: 13px 30px 13px 30px;
	height: 18px;
	font-size: 0.9rem;
	line-height: 18px;
	color: white;
}

.guideTitleLi:hover {
	background-color: orange;
}

.guideTitleDiv {
	float: left;
}

.guideTitleDiv2 {
	float: right;
}

.guideCenter {
	position: absolute;
	left: 250px;
	top: 0.2px;
	height: 458px;
	border-top: 1px solid #fff;
	box-shadow: 1px 2px 1px 2px rgb(224, 224, 224);
	z-index: 1;
	display: none;
}

.guideCenterUl {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-item: flex-start;
	align-content: flex-start;
	background-color: white;
}

.guideCenterUlLi {
	width: 250px;
	height: 76px;
	cursor: pointer;
}

.guideCenterUlLi:hover .guideCenterUlLiSpan {
	color: orange;
}

.guideCenterUlLiImg {
	width: 35px;
	height: 40px;
	margin-top: 25px;
	margin-left: 25px;
	float: left;
}

.guideCenterUlLiSpan {
	font-size: 0.9rem;
	float: left;
	line-height: 40px;
	margin-top: 25px;
	margin-left: 18px;
}


/*轮播图*/

#lunbo {
	width: 1250px;
	height: 462px;
	position: absolute;
	top: 0px;
	margin: 0 auto;
	z-index: 1;
}
#lunboContent {
	width: 100%;
	height: 462px;
	position: relative;
	top: 0;
	left: 0;
}
#lunboContent img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}


#lunboImgright,
#lunboImgleft {
	color:  rgba(0, 0, 0, .8);
	font-weight: bolder;
	font-size: 28px;
	text-align: center;
	line-height: 70px;
	position: absolute;
	width: 42px;
	height: 70px;
	top: 0;
	bottom: 0;
	margin: auto 0;	
	cursor: pointer;
	opacity: 0.2;
	z-index: 2;
}
#lunboImgleft {
	left: 250px;
}
#lunboImgright {
	right: 1px;
}
#lunboImgleft:hover,#lunboImgright:hover{
	background: rgba(0, 0, 0, .8);
	color:white;
}
#lunboImgright:hover {
	opacity: 0.6;
}

#lunboImgleft:hover {
	opacity: 0.6;
}
/*小圆点部分*/
.lunboBtns {
	/*width: 100%;*/
	height: 20px;
	position: absolute;
	opacity: 0.9;
	bottom: 3px;
	display: flex;
	border-radius: 10px;
	/*主轴方向*/
	justify-content: flex-start;
	/*侧轴方向*/
	align-items: center;
	margin: 0 auto;
	right: 40px;
}

.lunboBtns li {
	border: 1px solid #ccc;
	margin: 0 5px;
	cursor: pointer;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: green;
}
.lunboBtns li:hover{
	background: white;
	border: 1px green solid;
	box-shadow: 0 0 3px 2px #ccc;
}
/*按钮高亮类*/
li.lunboActive {
	background: white;
	border: 1px green solid;
	box-shadow: 0 0 3px 2px #ccc;
}

/*轮播图下面地方*/
.centerTop2{
	width: 1250px;
	height: 170px;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	flex-wrap:nowrap;
	justify-content:center;
}

.centerTop2Div1{
	width: 250px;
	height: 170px;
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
	background-color: rgb(96,87,81);
	overflow: hidden;
}
.centerTop2Div1 a{
	width: 78px;
	height: 84px;
	display: flex;
	flex-direction:column;
	text-align: center;
	justify-content:center;
	align-items:center;
	color:rgb(224, 224, 224);
	border: 1px solid rgb(103,94,85);
}
.centerTop2Div1 a:hover{
	color:white;
}
.centerTop2Div1 a img{
	width: 30px;
	height: 30px;
	margin-bottom: 3px;
}
.centerTop2Div2,.centerTop2Div3,.centerTop2Div4{
	width: 320px;
	height: 170px;
}
.centerTop2Div2{
	margin-left: 16.5px;
	margin-right: 16.5px;
}
.centerTop2Div3{
	margin-right: 16.5px;
}
.centerTop2Div2 img,.centerTop2Div3 img,.centerTop2Div4 img{
	width: 100%;
	height: 100%;
}
.centerTop2Div2:hover{
	box-shadow: 0 8px 8px 2px rgb(224, 224, 224);
}
.centerTop2Div3:hover{
	box-shadow: 0 8px 8px 2px rgb(224, 224, 224);
}
.centerTop2Div4:hover{
	box-shadow: 0 8px 8px 2px rgb(224, 224, 224);
}




/*小米闪购部分*/
.centerTop3{
	width: 1250px;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
}
.centerTop3Title{
	height: 50px;
	overflow: hidden;
}
.CT3TL{
	font-size: 1.2rem;
	line-height: 50px;
	float: left;
	color:black;

}
.CT3TR{
	padding-top:15px; 
	float: right;
	height: 45px;
	color:rgb(182,182,182);

}
.CT3TR1{
	width: 35px;
	font-size: 1rem;
	height: 25px;
	float: left;
	border: 1px solid rgb(242,242,242);
	border-right: 0;
	text-align: center;
	line-height: 20px;
}
.CT3TR2{
	width: 35px;
	font-size: 1rem;
	height: 25px;
	float: left;
	border: 1px solid rgb(242,242,242);
	text-align: center;
	line-height: 20px;
}
.CT3TR2:hover{
	color: orange;
}
.CT3TR1:hover{
	color: orange;
}
.centerTop3Botom{
	width: 100%;
	height: 345px;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
}

.CT3BL{
	width:246px;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color: rgb(240,240,240);
	border-top: 1px solid red;
	box-shadow: 
}
.CT3BL h2{
	color:red;
}
.CT3BL img{
	margin: 30px auto;
	width: 30px;
	height: 40px;
}
.CT3BL p{
	font-size: 0.8rem;
	color:rgb(133,133,133);
	margin-bottom: 25px;
}
.CT3BL .CT3BL_last{
	display: flex;
	flex-direction:row;
	justify-content:center;

}
.CT3BL_last div{
	text-align: center;
	font-size: 1.5rem;
	line-height: 50px;
}
.CT3BL_last div:nth-child(1){
	width: 50px;
	height: 50px;
	color:white;
	background-color: rgb(97,87,82);
}
.CT3BL_last div:nth-child(2){
	margin:0 4px;
}
.CT3BL_last div:nth-child(4){
	margin:0 4px;
}
.CT3BL_last div:nth-child(3){
	width: 50px;
	height: 50px;
	color:white;
	background-color: rgb(97,87,82);
}
.CT3BL_last div:nth-child(5){
	width: 50px;
	height: 50px;
	color:white;
	background-color: rgb(97,87,82);
}
.CT3BR{
	width: 1000px;
	height: 345px;
	position: relative;
	overflow: hidden;
}
.CT3BRUl{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	height: 345px;
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-strat;
}
.CT3BRLi{
	width: 240px;
	display: flex;
	flex-direction:column;
	flex-wrap:nowrap;
	justify-content:flex-strat;
	align-items:center;
	background-color: rgb(240,240,240); 
	margin-left: 12px;
	border-top: 1px solid green;
}
.CT3BRDiv{
	width: 65px;
	height: 23px;
	background-color: red;
	color:white;
	font-size: 0.8rem;
	line-height: 23px;
	opacity: 0;
	text-align: center;
}
.CT3BRImg{
	width: 85px;
	height: 130px;
	margin-top: 30px;
}
.CT3BRH3{
	font-size: 1.1rem;
	color:black;
	margin-top: 42px;
}
.CT3BRP1{
	color:rgb(189,189,189);
	font-size: 0.8rem;
	margin-top: 3px;
}
.CT3BRP2{
	color:rgb(189,189,189);
	font-size: 0.8rem;
	margin-top: 12px;
}
.CT3BRP2 span{
	color:red;
}
.CT3BImg{
	width: 1250px;
	height: 125px;
	margin: 50px auto;
}
.CT3BImg img{
	width: 100%;
	height: 100%;
}
